// -----------------------------------------------------------------------------
// Utils
// -----------------------------------------------------------------------------
.u-shadow {
  filter: drop-shadow(0 1px 1px rgba(0,0,0, .3));
}

.black {
  color: black;
  font-weight: bold;
}
